---

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeaturedWork from '../components/FeaturedWork.astro';
import ProcessSection from '../components/ProcessSection.astro';

---

<Layout title="Portfolio - Product Designer from Barcelona">
  <div class="grid grid-cols-[200px_1fr] min-h-screen">
    <aside>
      <Header />
    </aside>
    <main class="p-8 w-full max-w-[1600px] mx-auto">
      <Hero />
      <FeaturedWork />
     <!--  <ProcessSection /> -->
    </main>
  </div>
</Layout>