<header class="fixed w-[200px] h-full p-8">
    <div class="mb-8">
      <a href="/">
        <img src="/iso.jpg" alt="Logo" class="w-12 h-12"
        style="border-radius: 50%; border: 2px solid white; box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);">
        <h1 class="text-1xl font-bold mt-4">Acode </h1>
      </a>
    </div>
    <nav>
      <ul>
        <li class="mb-2"><a href="/" class="text-sm opacity-80 hover:opacity-100 transition-opacity">Home</a></li>
        <li class="mb-2"><a href="/" class="text-sm opacity-80 hover:opacity-100 transition-opacity">Blog</a></li>
        <li class="mb-2"><a href="/work" class="text-sm opacity-80 hover:opacity-100 transition-opacity">Work</a></li>
        <li class="mb-2"><a href="/about" class="text-sm opacity-80 hover:opacity-100 transition-opacity">About</a></li>
        <li class="mb-2"><a href="/contact" class="text-sm opacity-80 hover:opacity-100 transition-opacity">Contact</a></li>
      </ul>
    </nav>
  </header>
  